body{
  margin: 0;
  padding: 0;
  background-color: rgba(15, 15, 15, 0.922);
}
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: black;
}

.App h1 {
  color: #fff;
  background: linear-gradient(to right, rgb(10, 10, 10) 0%, #777676 50%, rgb(12, 12, 12) 100%);

}
